[submodule "themes/hugo-satrday-theme"]
	path = themes/hugo-satrday-theme
	url = https://github.com/satRdays/hugo-satrdays-theme
[submodule "themes/hugo-agency-themes"]
	path = themes/hugo-agency-themes
	url = https://github.com/digitalcraftsman/hugo-agency-theme
